:root {
    --main: #0c2d57;
    --link1: #fba834;
    --link2: #50c4ed;
    --body: #efecec;
    --dark: rgb(24 24 27);
}
* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    /* font-family: "Text Me One", sans-serif; */
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--body);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 1rem;
}

/* ===========================
        Typography
 ===========================*/
h1,
h2,
strong {
    font-weight: 700;
}
.accent-color {
    color: var(--link1);
    padding: 0 0.4em;
}
.btn {
    padding: 0.5em 1em;
    font-weight: 700;
    transition: 250ms;
    transform: scale(1);
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
}
.btn:hover {
    transform: scale(1.02);
    color: #fff;
}
.btn-primary {
    justify-self: start;
    background-color: #fba834;
    color: var(--main);
    font-weight: 800;
}
a {
    text-decoration: none;
    color: var(--link2);
}
.subtitle {
    opacity: 0.9;
    font-weight: 300;
}
.color-mode {
    position: absolute;
    left: 40px;
    font-size: 2rem;
    cursor: pointer;
}
.dark .user {
    color: #ebebeb;
}
.dark .color-mode {
    color: #ebebeb;
}
.author {
    font-size: 2em;
    font-weight: 800;
    padding-bottom: 0.5em;
}
.author::after {
    content: " ";
    display: block;
    width: 60px;
    height: 5px;
    background-color: #fba834;
    font-size: 2em;
}
.dark .author {
    color: #fff;
}

.dark .author-details {
    color: #fff;
}
.page-details {
    padding: 1em 0;
}
.dark .contact-location {
    color: #fff;
}
.contact-location h2 {
    font-size: 0.8rem;
}
.form-header {
    color: #fff;
}
.new-account {
    color: #fff;
    font-size: 0.75rem;
}
.new-account {
    margin: 0 2em;
}
.not-found {
    display: grid;
    align-content: center;
    justify-content: center;
    min-height: 50vh;
}

.page-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dark .page-contents {
    color: #fba834;
}
.sad-icon {
    font-size: 3em;
}
.error-page {
    background-color: #000e;
    grid-template-areas: " . error error error .";
    min-height: 100vh;
}

.error-container {
    grid-area: error;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.error-name {
    font-size: 1.7em;
}
.error-message {
    color: #fff;
    text-align: center;
}
.error-name {
    color: #ebebeb;
}
.error-icon {
    background-color: #fba834;
    font-size: 5rem;
}
.error-status {
    color: #fff;
}
.error-mesage {
    color: #fff;
}
/* Buttons starts*/

.btn-send {
    padding: 1em 2em;
    border: none;
    background-color: #50c4ed;
    color: #0f0f0f;
    font-weight: 600;
    cursor: pointer;
}
.button-group {
    margin: 1em 0;
}
.btn-block {
    display: block;
    width: 100%;
    padding: 0.9em 2em;
}

.btn-submit {
    border: none;
    background-color: #0c2d57;
    color: #ebebeb;
    border-radius: 0.5em;
    cursor: pointer;
    padding: 1rem 1rem;
    transition: 250ms;
}
.btn-submit:hover {
    background-color: #113b74;
}
/* Buttons ends*/
.loader {
    color: #efecec;
}

.account-btn {
    background-color: #0c2d57;
    padding: 0.3em 0.6em;
    border-radius: 0.3em;
    color: #efecec;
    transform: scale(1);
    transition: 250ms;
}
.dark .account-btn {
    background-color: #50c4ed;
}
.account-btn:hover {
    color: #50c4ed;
    transform: scale(1.02);
}
.dark .account-btn:hover {
    color: #000;
}

.user-name::after {
    content: " ";
    display: block;
    width: 3em;
    height: 0.3em;
    background-color: #0c2d57;
}
.dark .user-name::after {
    background-color: #50c4ed;
}
.alert {
    background-color: red;
    color: #fff;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
}
.error {
    display: flex;
}
.error span {
    font-size: 1.3rem;
}
.inputs-errors {
    display: block;
    color: red;
}
.error-input {
    background-color: rgb(250, 229, 229);
    border: 1px solid red;
}
.processing {
    color: green;
}
/* =================
Main Layout
==================== */
.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
    grid-gap: 1em 0;
}

/* =================
Navigation
==================== */
.dark nav {
    background-color: #000;
}
nav {
    background-color: #ebebeb;
}
.nav-top {
    grid-column: 2/-2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.nav-login {
    padding-top: 0.5em;
    display: flex;
    gap: 3em;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;
}
.nav-login > a {
    color: #0c2d57;
    transition: 250ms;
    transform: scale(1);
}
.nav-login > a:hover,
.nav-login > a:focus {
    color: #0c2d57;
    transform: scale(1.03);
}

.dark .nav-login > a {
    color: #ebebeb;
    transition: 250ms;
    transform: scale(1);
}
.dark .nav-login > a:hover,
.dark .nav-login > a:focus {
    color: #0c2d57;
    transform: scale(1.03);
}
.nav-login-active {
    background-color: #50c4ed;
    padding: 0.2em 1.25em;
    color: #0c2d57;
}
.dark .nav-login-active {
    background-color: #50c4ed;
    padding: 0.2em 1.25em;
    color: #fff;
}
.main-navigation {
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: #000;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    transition: 250ms;
    z-index: 1;
}

.nav-open {
    left: 0%;
    transition: 250ms;
}
.main-navigation > a {
    color: #fba834;
}
.main-navigation > a:hover,
.main-navigation > a:focus {
    color: #50c4ed;
}
.site-logo {
    width: 50px;
}
.user {
    font-weight: 500;
    display: flex;
    gap: 2em;
}
.dark .menu,
.dark .close {
    color: #ebebeb;
}
.menu {
    font-size: 2rem;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    cursor: pointer;
    background: none;
    border: 0;
    transform: scale(1);
    transition: 400ms;
}
.close {
    font-size: 2rem;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    transform: scale(1);
    transition: 400ms;
    cursor: pointer;
    background: none;
    border: 0;
}
.menu:hover,
.close:hover {
    transform: scale(1.2);
}
/* =================
Hero
==================== */

.hero {
    background-image: url(../src/assets/bg.jpg);
    color: var(--body);
    padding: 3em 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
}
.hero > * {
    grid-column: 2/-2;
}

/* =================
Info
==================== */
.info {
    padding: 2em 0;
}
.dark {
    background-color: var(--dark);
}
.col {
    grid-column: 2/-2;
    text-align: center;
}
.dark .section-title {
    color: #fff;
    opacity: 1;
}
.dark .section-sub {
    color: #fff;
    opacity: 0.9;
}
.section-title {
    opacity: 0.6;
    font-size: 1.2em;
}
.section-title::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #fba834;
    margin-top: 5px;
    margin-bottom: 5px;
}
.section-title-centered::after {
    margin-left: auto;
    margin-right: auto;
}

/* =================
Footer
==================== */
.dark .footer {
    background-color: #000;
}
.dark .footer-main {
    color: #fff;
}
.footer {
    background-color: #ebebeb;
    padding: 2em 0;
    grid-template-areas:
        ". social ."
        ". main . "
        ".  link .";
    padding: 4em 0;
}
.footer-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: main;
}
.dark .site-designer {
    color: #fff;
}
.footer-logo {
    width: 50px;
}
.footer-text {
    text-align: center;
    padding: 0.5em 0;
}
.footer-fineprint {
    font-weight: 900;
    opacity: 0.3;
    font-size: 0.78em;
}
.social-list {
    grid-area: social;
    display: flex;
    list-style: none;
    gap: 1em;
    order: -1;
    justify-content: center;
}
.social-link > * {
    font-size: 1.5em;
    transition: 250ms;
    transform: scale(1);
}
.social-link:hover > * {
    color: #0c2d57;
    transform: scale(1.3);
}
.site-designer {
    grid-area: link;
    text-align: center;
    font-weight: 600;
    opacity: 0.7;
    color: #0c2d57;
    transition: 250ms;
    transform: scale(1);
}
.site-designer:hover {
    color: #50c4ed;
    transform: scale(1.06);
}

@media (min-width: 600px) {
    .main-grid {
        display: grid;
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(180px, 320px)) minmax(
                1em,
                1fr
            );
        column-gap: 0.5em;
    }
    .hero {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom right;
        padding: 4em 0;
    }
    .hero > * {
        grid-column: 2 / -3;
    }
    .col:first-child {
        grid-column: 2 / span 1;
    }
    .col {
        grid-column: span 1;
    }
    .footer {
        padding: 4em 0;
        text-align: left;
        grid-template-areas:
            ". main main  social ."
            ". link link .  .";
    }
    .social-list {
        align-self: center;
        justify-self: end;
    }
    .footer-main {
        align-items: start;
    }
    .footer-text {
        text-align: left;
    }
    .site-designer {
        justify-self: start;
    }
}

/* =================
    ABOUT PAGE
================= */
.about {
    padding: 4em 0;
    display: grid;
    grid-template-areas:
        ". header ."
        ". image ."
        ". content .";
}
.author-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.section-header {
    text-align: center;
    padding-bottom: 1em;
    grid-area: header;
}
.about-image {
    grid-area: image;
}
.page-content {
    grid-area: content;
}

@media (min-width: 600px) {
    .main-grid {
        display: grid;
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(180px, 320px)) minmax(
                1em,
                1fr
            );
        column-gap: 0.5em;
    }
    .about {
        grid-template-areas:
            ". header header header ."
            ". image  content content ."
            ". ...... content content .";
        grid-column-gap: 2em;
    }
}

/* ==================
Contact Us
================= */
.contact {
    display: grid;
    grid-template-areas:
        ". header ."
        ". details ."
        ". form .";
    padding: 4em 0;
}
.section-header {
    grid-area: header;
}
.contact-body {
    grid-area: details;
}
.form {
    grid-area: form;
}
.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input,
textarea {
    width: 100%;
    padding: 0.9em;
    border: 0;
    margin: 0.3em 0;
    transform: scale(1);
    transition: 250ms;
    border-radius: 0.5rem;
    display: flex;
}
.btn-send:hover,
.btn-send:focus,
input:hover,
textarea:hover,
input:focus,
textarea:focus {
    border: none;
    outline: none;
    transform: scale(1.01);
    border: 2px solid #50c4ed;
}

@media (min-width: 600px) {
    .main-grid {
        display: grid;
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(180px, 320px)) minmax(
                1em,
                1fr
            );
        column-gap: 0.5em;
    }
    .contact {
        grid-template-areas:
            ". header header  header ."
            ". details  form form ."
            ". details  form form .";
    }
}
/* ================================
EXAMS AND EXAMS DETAILS
================================ */

.exams {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
    grid-template-areas: ". header ." ". filter ." ". paper  .";
    min-height: 70vh;
    padding: 4em 0;
}

.dark .exams {
    background-color: var(--dark);
}
.exams-header {
    color: #000;
    padding-top: 1em;
    grid-area: header;
}
.filter {
    grid-area: filter;
    /* margin: 1em; */
}
.filter-link {
    font-weight: 600;
    background-color: #fba834;
    border-radius: 0.3em;
    padding: 0.5em;
    margin: 0.2em;
    color: #0c2d57;
    transition: 250ms;
    border: none;
}
.filter-link:hover {
    background-color: #fba834a1;
}
.selected {
    background-color: #50c4ed;
}
.clear {
    background-color: red;
    color: #ebebeb;
}
.dark .exams-header {
    color: #ebebeb;
}
.dark .single-paper {
    color: #ebebeb;
    border-bottom: 1px solid #fff;
}
.single-paper {
    color: #000;
    grid-column: paper;
    padding: 0.5em;
    transform: scale(1);
    transition: 250ms;
    border-bottom: 1px solid #000;
}
.single-paper:hover {
    color: #50c4ed;
    transform: scale(1.01);
}
.single-paper::after {
    content: "";
    display: block;
    width: 5em;
    height: 0.1em;
    background-color: #fba834;
}
@media (min-width: 600px) {
    .exams {
        display: grid;
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(180px, 320px)) minmax(
                1em,
                1fr
            );
        grid-template-areas:
            ". header header header ."
            ". filter filter filter ."
            ". paper paper paper .";
        min-height: 40vh;
    }
}
.exam-single {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
    grid-template-areas: ". header  ." ". question  ." ". btn .";
    padding: 2em 0;
    min-height: 50vh;
}
.answer-btn {
    grid-column: 2/-2;
    background-color: var(--main);
    width: 15em;
    padding: 0.5em;
    border-radius: 0.6em;
    text-align: center;
    color: var(--body);
    transition: 0.3s;
}
.answer-btn:hover {
    background-color: #113b74;
}
.dark .exam-single {
    color: #fff;
}
.exams-header {
    grid-column: 2/-2;
}
.question-card {
    grid-column: 2/-2;
    /* grid-area: question; */
    padding: 1em 0;
    color: #ebebeb;
    border-radius: 1em;
}
.markdown {
    padding: 1em 0.5em;
    max-height: 200px;
    overflow-y: auto;
    margin: 0.5em 0;
}
.question-number {
    color: #0c2d57;
    font-weight: 700;
}
.dark .question-number {
    color: #fff;
}
.question-number::after {
    content: "";
    display: block;
    width: 5em;
    height: 0.1em;
    background-color: #fba834;
}
.dark .question-number::after {
    content: "";
    display: block;
    width: 5em;
    height: 0.1em;
    background-color: #fba834;
}
@media (min-width: 600px) {
    .exam-single {
        display: grid;
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(180px, 320px)) minmax(
                1em,
                1fr
            );
        grid-template-areas:
            ". header header header ."
            ". question question question .";
    }
}
/* ==========================
        Spinner
========================== */
.loader-container {
    background-color: #0c2c5788;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 19;
    transition: 250ms;
    top: 0;
}
.page-contents {
    grid-area: header;
    margin-top: 2em;
    letter-spacing: 0.3em;
    justify-self: center;
    grid-gap: 2em;
}

.loader {
    border: 0.5em solid #f3f3f3;
    border-radius: 50%;
    border-top: 0.5em solid #fba834;
    width: 4em;
    height: 4em;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 45%;
    left: 45%;
    z-index: 10;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ================
LOGI AN SIGNUP
================= */

.login-signup {
    padding: 4em 0;
    min-height: 40vh;
    grid-template-areas:
        ". header ."
        ". form .";
}
.form-header {
    grid-area: header;
    justify-self: center;
}
.form {
    grid-area: form;
}

.cards {
    background-color: var(--dark);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1.25rem 1.5rem;
    margin: 1em 3em;
}

@media (min-width: 600px) {
    .login-signup {
        grid-template-columns:
            minmax(1em, 1fr)
            repeat(2, minmax(180px, 220px))
            minmax(1em, 1fr);
        display: grid;
        align-items: center;
        grid-template-areas:
            " .  header header  ."
            " .   form form .";
    }
    .login-signup-image {
        grid-area: image;
        display: none;
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin: 0 auto;
        background-image: url(./assets/bg2.avif);
        background-position: center;
    }
}
.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
